/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

/* Header styles */
header {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: #4e54c8;
}

nav ul li a:hover {
    background-color: #343a40;
}

/* Main content styles */
main {
    flex: 1; /* Allow the main content to grow and fill the remaining space */
}

section {
    margin-bottom: 30px;
}

/* Footer styles */
footer {
    background: #4e54c8;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    bottom: 0; /* Stick the footer to the bottom */
}

/* Section styles */
section {
    background: linear-gradient(to bottom right, #ffffff, #f3f4f6);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    color: #4e54c8;
    margin-bottom: 20px;
    font-size: 28px;
    text-transform: uppercase;
}

section p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e54c8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #343a40;
    cursor: pointer;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav ul li a {
        padding: 10px 15px;
    }

    section {
        padding: 15px;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 14px;
    }
}

/* Media queries for mobile devices */
@media screen and (max-width: 576px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li a {
        padding: 8px 12px;
    }

    section h2 {
        font-size: 20px;
    }

    section p {
        font-size: 12px;
    }
}
